
input[type=color],
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
select,
.dpg-form-input {
   padding: 0.5em 0.6em;
   display: inline-block;
   border: 1px solid #ccc;
   -webkit-box-shadow: inset 0 1px 3px #ddd;
   box-shadow: inset 0 1px 3px #ddd;
   border-radius: 4px;
   vertical-align: middle;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   box-shadow: none;
   margin-bottom: 0;
   width: 100%;
}

button.dpg-form-input {
   font-family: inherit;
   font-size: 100%;
   padding: 0.5em 1em;
   text-decoration: none;
   margin: 0;
   border-radius: 5px;
   font-weight: 400;
   background-color: var(--uvalib-grey-lightest);
   border: 1px solid var(--uvalib-grey);
   color: #000;
   cursor: pointer;

   &:hover {
      background-image: -webkit-gradient(linear,left top,left bottom,from(transparent),color-stop(40%,rgba(0,0,0,.05)),to(rgba(0,0,0,.1)));
      background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
   }
   &:focus {
      outline: 1px dashed var( --uvalib-accessibility-highlight );
      outline-offset: 2px;
   }
}
button.dpg-form-input[type=submit] {
   color: #ffffff;
   background-color: var(--uvalib-brand-blue-light);
   border: 1px solid var(--uvalib-brand-blue-light);
   &:hover {
      background-color: var(--uvalib-brand-blue-lighter);
      border: 1px solid var(--uvalib-brand-blue-lighter);
      transition: all 0.3s ease;
   }
}
.submit-button.disabled button, .submit-button button:disabled  {
   opacity: 0.3 !important;
   cursor: default;
   &:hover {
      background-color: var(--uvalib-brand-blue-light);
      border: 1px solid var(--uvalib-brand-blue-light);
   }
}

div.formkit-outer.first {
   .dpg-form-label {
      margin-top: 5px;
   }
}

.formkit-outer[data-type="radio"] {
   margin-top: 20px;
   .dpg-form-help {
      margin: 5px 0 20px 5px;
   }
   fieldset {
      border: 1px solid var(--uvalib-grey-light);
      border-radius: 5px;
      legend {
         padding: 0 5px;
      }
      ul.formkit-options {
         list-style-type: none;
         padding: 0;
         margin: 5px 10px;
         display: flex;
         flex-flow: row wrap;
         justify-content: flex-start;
         li {
            margin: 5px 0;
            .formkit-inner {
               display: inline-block;
            }
         }
      }
      .dpg-form-label  {
         display: inline-block;
         margin: 0 20px 0 5px;
      }
   }
 }

div.checkbox {
   display: flex;
   flex-flow: row nowrap;
   justify-content: flex-start;
   align-items: center;
   margin: 0;
   input[type=checkbox] {
      width: 18px;
      height: 18px;
      margin-right: 10px;
      display: inline-block;
   }
   span {
      display: inline-block;
   }
}

span.req {
   margin-left: 5px;
   color: var(--uvalib-grey);
   font-size: 0.8em;
}
i.req {
   font-size: 0.5em;
   margin-right: 3px;
   position: relative;
   top: -2px;
   color: var(--uvalib-grey);
}
span.req-label {
   color: var(--uvalib-text);
}

.dpg-form-help {
   margin: 5px 0;
   font-size: 0.9em;
   color: var(--uvalib-grey);
}

.dpg-form-invalid {
   list-style: none;
   padding: 0;
   margin: 5px 0;
   color: var(--uvalib-red-emergency);
}

.dpg-form-label {
   display: flex;
   flex-flow: row nowrap;
   justify-content: flex-start;
   align-items: center;
   margin-bottom: 0.3em;
   margin-top: 20px;
   color: var(--uvalib-text-dark);
   font-weight: normal;
}

.dpg-form-input {
   width: 100%
}
