html,
body {
   margin: 0;
   padding: 0;
   background-color: white;

   .right-pad {
      margin-right: 10px !important;
   }

   #app {
      font-family: "franklin-gothic-urw", arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-align: center;
      color: var(--color-primary-text);
      margin: 0;
      padding: 0;
      background: white;

      td.nowrap {
         white-space: nowrap;
      }

      a {
         color: var(--uvalib-brand-blue-light);
         font-weight: 600;
         text-decoration: none;

         &:hover {
            text-decoration: underline;
         }
      }

      h2 {
         margin: 0;
         font-weight: bold;
         position: relative;
         text-align: left;
         padding: 10px 10px 10px 20px;
         background: var(--uvalib-grey-lightest);
         border-bottom: 1px solid var(--uvalib-grey-light);
         display: flex;
         flex-flow: row nowrap;
         justify-content: space-between;
         div.actions {
            font-size: 14px;
            button.p-button {
               margin-right: 5px;
            }
         }
      }

      dl {
         margin: 10px 30px 0 30px;
         display: inline-grid;
         grid-template-columns: max-content 2fr;
         grid-column-gap: 10px;
         font-size: 0.9em;
         text-align: left;
         box-sizing: border-box;

         dt {
            font-weight: bold;
            text-align: right;
         }

         dd {
            margin: 0 0 10px 0;
            word-break: break-word;
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            hyphens: auto;
            white-space: break-spaces;
         }
      }
      span.status, span.flag {
         border-radius: 5px;
         color: white;
         padding: 2px 15px 4px 15px;
         box-sizing: border-box;
         display:inline-block;
         text-align: center;
         font-weight: bold;
         background-color: var(--uvalib-grey);
      }
      span.flag.true {
         background: var(--uvalib-green-dark);
      }
      span.status.await_fee {
         background: var(--uvalib-grey-dark);
      }
      span.status.completed {
         background: var( --uvalib-brand-blue-light);
      }
      span.status.canceled {
         background: var(--uvalib-red-darker);
      }
      span.status.deferred {
         background: var(--uvalib-blue-alt-dark);
      }
      span.status.approved {
         background: var(--uvalib-green-dark);
      }
      span.status.requested {
         background: var( --uvalib-brand-orange);
      }
      span.status.done {
         background: #5f53d4;
      }
      i.icon {
         display: inline-block;
         margin-left: 7px;
      }
   }
}