.p-component-overlay {
   .p-dialog {
      width:650px;
      .p-dialog-header {
         padding: 5px 10px;
         background: var(--uvalib-teal-lightest);
         border-bottom: 1px solid var(--uvalib-teal-light);
         .p-dialog-title {
            font-size: 1em;
         }
      }
      .p-dialog-content {
         padding: 15px 15px 10px 15px;
      }
      .p-dialog-footer {
         padding: 10px 10px 20px 10px;
      }
   }
   .p-dialog.error {
      width: 500px;
      .p-dialog-header {
         padding: 5px 10px;
         background: var( --uvalib-red-darker) !important;
         .p-dialog-title {
            font-size: 1em;
            color: white;
         }
         .p-dialog-header-close-icon {
            color: white;
         }
      }
      .p-dialog-content {
         padding: 15px;
      }
      .p-dialog-footer {
         padding: 15px 15px 20px 15px;
      }
   }
   .p-dialog.p-confirm-dialog {
      max-width: 500px;
      .p-dialog-header {
         padding: 5px 10px;
         background: var(--uvalib-teal-lightest);
         border-bottom: 1px solid var(--uvalib-teal-light);
         .p-dialog-title {
            font-size: 1em;
         }
      }
      .p-dialog-content {
         padding-top: 25px;
         font-size: 0.9em;
      }
      button.p-button {
         margin-left: 10px;
      }
   }
}

nav.p-paginator-top  {
   padding-top: 10px;
   background: white;
   div.p-paginator.p-component {
      padding: 0 0 15px 0;
   }
   div.p-dropdown {
      margin-right: 0;
   }
}
nav.p-paginator-top.sticky {
   position: fixed;
   z-index: 1000;
   top: 0;
   div.p-paginator.p-component {
      border-bottom: 1px solid var(--uvalib-grey-light);
   }
}
.p-datatable-wrapper {
   position: relative;
}

span.p-button.p-component.p-fileupload-choose {
   width: 100%;
}

.p-picklist-buttons.p-picklist-transfer-buttons, .p-picklist-buttons.p-picklist-target-controls {
   button {
      margin-bottom: 0.5rem;
   }
}
.p-fileupload.p-fileupload-basic.p-component {
   padding: 0.5em 1em;
}

button.p-button, .p-fileupload.p-fileupload-basic.p-component {
   font-family: inherit;
   font-size: 100%;
   text-decoration: none;
   margin: 0;
   border-radius: 5px;
   font-weight: 400;
   cursor: pointer;
   color: #ffffff;
   background-color: var(--uvalib-brand-blue-light);
   border: 1px solid var(--uvalib-brand-blue-light);
   margin: 0;

   &:hover {
      background-color: var(--uvalib-brand-blue-lighter);
      border: 1px solid var(--uvalib-brand-blue-lighter);
      transition: all 0.3s ease;
   }

   &:focus {
      @include be-accessible();
   }
   .p-fileupload-choose {
      background: none;
      border: 0;
      padding: 0;
      .p-button-icon.p-button-icon-left {
         display: none;
      }
      &:focus {
         box-shadow: none;
      }
   }
}

button.p-button.p-disabled {
   opacity: 0.4;
}

button.p-button.p-button-secondary {
   background-color: var(--uvalib-grey-lightest);
   border: 1px solid var(--uvalib-grey);
   color: #000;
   &:hover {
      background-image: -webkit-gradient(linear,left top,left bottom,from(transparent),color-stop(40%,rgba(0,0,0,.05)),to(rgba(0,0,0,.1))) !important;
      background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1)) !important;
      background-color: var(--uvalib-grey-lightest) !important;
      color: #000 !important;
   }
}

button.p-button.p-button-danger {
   background-color: #cf6161;
   border: 1px solid var( --uvalib-red-darker);
   color: white;
   &:hover {
      background-image: -webkit-gradient(linear,left top,left bottom,from(transparent),color-stop(40%,rgba(0,0,0,.05)),to(rgba(0,0,0,.1))) !important;
      background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1)) !important;
      background-color: #ff8181 !important;
   }
}


button.p-button.p-button-text {
   padding: 0;
   background: none;
   border: none;
   color: var(--uvalib-blue-light);
   font-weight: 500;
   text-decoration: none;
   &:hover {
      text-decoration: underline;
   }
}

.p-column-filter-menu-button {
   margin-left: 5px;
}
.p-column-filter-menu-button.p-column-filter-menu-button-active {
   background: var(--uvalib-blue-alt-light);
   outline: 1px solid var(--uvalib-blue-alt);
}